name: 'MinEmacs packages mirroring'
on:
  push:
  schedule:
    - cron: '13 * * * *'
  workflow_dispatch:

jobs:
  git-sync:
    runs-on: ubuntu-latest
    steps:
      - name: org-contrib
        uses: wei/git-sync@v3
        with:
          source_repo: "https://git.sr.ht/~bzg/org-contrib"
          source_branch: "master"
          destination_repo: "git@github.com:minemacs/org-contrib.git"
          destination_branch: "master"
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }} # optional
          source_ssh_private_key: ${{ secrets.SOURCE_SSH_PRIVATE_KEY }} # optional, will override `SSH_PRIVATE_KEY`
          destination_ssh_private_key: ${{ secrets.DESTINATION_SSH_PRIVATE_KEY }} # optional, will override `SSH_PRIVATE_KEY`
